.Third{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 76px;
}

.divFirst{
    width: auto;
    margin: 0;
}

.divFirst h5{
    padding-bottom: 12px;
    margin-bottom: 24px;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    letter-spacing: 0.005em;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(194, 196, 207, 0.4);
    color: rgba(0, 0, 0, 0.5);
}
.divSecond{
    display: flex;
    justify-content: center;
}
.firstA{
    width: 325px;
    margin-right: 36px;
}

.img{
    position: relative;
    flex: none;
    width: 100px;
    height: 100px;
    margin-right: 24px;
    transition: opacity 100ms linear;
}
.divThird{
    transition: opacity 100ms linear;
}
.divThird h4{

    margin-bottom: 4px;
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
}
.divThird p{
    margin: 0;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.005em;
    color: #000000;
    opacity: 0.4;
}
.secondA{
margin-right:0;
width:325px;
display: flex;
justify-content: space-between;
align-items: flex-start;
}